<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.softbattle.klog_server.user.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.softbattle.klog_server.user.entity.User">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="follows" jdbcType="VARCHAR" property="follows" />
    <result column="followers" jdbcType="VARCHAR" property="followers" />
    <result column="stars" jdbcType="VARCHAR" property="stars" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    userId, `password`, avatar, nickname, follows, followers, stars
  </sql>

  <resultMap id="UserSearchInfoMap" type="org.softbattle.klog_server.user.dto.output.UserSearchInfo">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="userId" jdbcType="VARCHAR" property="uid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
  </resultMap>

  <select id="userPage" resultMap="UserSearchInfoMap">
    select userId, nickname, avatar from t_user
    <where>
      <if test="keyword != null and keyword != ''">
        userId like concat('%',  #{keyword}, '%')
        or nickname like concat('%', #{keyword}, '%')
      </if>
      and userId != #{uid}
    </where>
  </select>
</mapper>